
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <!--
      Step-4 : Render the correct blog post based on post _id
    - to change the href of the anchor tag based on the post id instead of the post name 
  -->
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
